<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Finished</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <%= content_tag :tr, data: { channel: song.channel } do -%>
        <%= content_tag(:td, song.channel, data: { attribute: 'channel' })%>
        <%= content_tag(:td, song.title, data: { attribute: 'title' })%>
        <%= content_tag(:td, song.artist, data: { attribute: 'artist' })%>
        <%= content_tag(:td, song.stopdatetime, data: { attribute: 'stopdatetime' })%>
      <% end %>
    <% end %>
  </tbody>
</table>
